In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import urllib.request
import os

In [2]:
x =pd.read_csv('unq_model_name_list.csv')
x

    model_id name
0     M40718  박형준
1     M40717  박형준
2     N41275  박형준
3     N41277  박형준
4     N41129  박형준
..       ...  ...
840   M44442  박동환
841   M43559  박동환
842   N41434  박동환
843   N51150  박동환
844   M91706  박동환

[845 rows x 2 columns]

In [3]:
X = x[x['name']=='박동환']['model_id'].tolist()

In [ ]:
def createDirectory(directory):
    try:
        if not os.path.exists(directory):
            os.makedirs(directory)
    except OSError:
        print("Error: Failed to create the directory.")

def crawling_img(name):
    driver = webdriver.Chrome('C:/endand/chromedriver.exe')
    driver.get("https://www.google.co.kr/imghp?hl=ko&ogbl")
    elem = driver.find_element_by_name("q")
    elem.send_keys(name)
    elem.send_keys(Keys.RETURN)
    SCROLL_PAUSE_TIME = 1
    # Get scroll height
    last_height = driver.execute_script("return document.body.scrollHeight")  # 브라우저의 높이를 자바스크립트로 찾음
    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")  # 브라우저 끝까지 스크롤을 내림
        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)
        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.body.scrollHeight")
        if new_height == last_height:
            try:
                driver.find_element_by_css_selector(".mye4qd").click()
            except:
                break
        last_height = new_height

    imgs = driver.find_elements_by_css_selector(".rg_i.Q4LuWd")
    dir = ".\model" + "\\" + name

    createDirectory(dir) #폴더 생성
    count = 1
    for img in imgs:
        try:
            img.click()
            time.sleep(2)
            imgUrl = driver.find_element_by_xpath(
                '//*[@id="Sva75c"]/div/div/div[3]/div[2]/c-wiz/div/div[1]/div[1]/div[2]/div[1]/a/img').get_attribute(
                "src")
            path = "C:/endand/crawling/model/" + name + "/"
            urllib.request.urlretrieve(imgUrl, path +  name + '_' + str(count) + ".jpg")# 
            count = count + 1
            if count >= 300:
                break
        except:
            pass
    driver.close()
# idols = ["M40718"]
for i in range (len(X)):
    crawling_img(X[i])